* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(243, 239, 239);
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
  }


@media screen and (max-height: 900px) {
    body {
        height: 150vh;
        /* background-color: rgb(174, 96, 0);   */
    }
    html {
        height: 150vh;
    }
}